*{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    background-color: aquamarine;
}

ul{
    text-align: center;
}

#iman{
    color: antiquewhite;
    background-color: aquamarine;
}